In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

# Make plots larger
plt.rcParams['figure.figsize'] = (15, 48)

In [3]:
ds = pd.read_csv("ATP.csv")
ds.head()

E:\C\Programs\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (3,5,6,7,8,9,12,14,15,16,17,18,19,22,24,25,26,28,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,1968-580,Australian Chps.,Grass,64,G,19680119,1,110023,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-580,Australian Chps.,Grass,64,G,19680119,2,109803,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-580,Australian Chps.,Grass,64,G,19680119,3,100257,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-580,Australian Chps.,Grass,64,G,19680119,4,100105,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-580,Australian Chps.,Grass,64,G,19680119,5,109966,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ds.describe()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
count,163966,163966,161399,163966,163966,163966,163966,163966,63019.0,13920,...,77401.0,77401.0,77401.0,77401.0,77401.0,77401.0,77401.0,77401.0,77401.0,77401.0
unique,7048,3533,5,28,7,2773,511,3891,68.0,6,...,63.0,98.0,47.0,459.0,315.0,239.0,120.0,82.0,55.0,69.0
top,2016-580,Wimbledon,Hard,32,A,19710901,1,100284,1.0,Q,...,3.0,1.0,2.0,57.0,35.0,24.0,11.0,9.0,3.0,7.0
freq,127,6223,63821,63754,106804,189,6212,1229,8530.0,8880,...,6988.0,8852.0,11208.0,1122.0,1662.0,2159.0,3856.0,9436.0,8547.0,6889.0

In [8]:
ds['surface'].value_counts()

Hard       63821
Clay       59565
Carpet     19833
Grass      18179
surface        1
Name: surface, dtype: int64

In [6]:
sns.boxplot(data =ds)

ValueError: min() arg is an empty sequence

In [9]:
sum(ds['winner_age'].isnull())

3506

In [ ]:
ds['winner_age'].mean()

In [ ]:
ds.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:
ds.describe()

In [ ]:
ds_bak= ds.copy()

In [ ]:
ds_bak.isnull().sum()

In [ ]:
%matplotlib inline 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
from sklearn.datasets import load_boston

# Make plots larger
plt.rcParams['figure.figsize'] = (15, 9)

In [ ]:
ds_bak.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:
ds_bak.info()

In [ ]:
# drop rows with missing values
ds_bak.dropna(inplace=True)

In [ ]:
ds_bak.isnull().sum()

In [ ]:
ds_bak.info()

In [ ]:
ds_bak.tail()